<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    <properties resource="dbconfig.properties"/>-->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 显示的指定每个我们需要更改的配置的值，即使他是默认，为了防止版本更新带来的问题 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <!--    <typeAliases>-->
    <!--        <package name="com.wilcom.satisfaction.message.entity"/>-->
    <!--    </typeAliases>-->

    <!--    <environments default="development">-->
    <!--        <environment id="development">-->
    <!--            <transactionManager type="JDBC" />-->
    <!--            <dataSource type="POOLED">-->
    <!--                <property name="driver" value="${jdbc.driver}" />-->
    <!--                <property name="url" value="${jdbc.url}" />-->
    <!--                <property name="username" value="${jdbc.username}" />-->
    <!--                <property name="password" value="${jdbc.password}" />-->
    <!--            </dataSource>-->
    <!--        </environment>-->
    <!--    </environments>-->

    <mappers>
        <package name="xxx"/>
    </mappers>


</configuration>