<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties></properties>-->
    <!--别名配置-->
    <!--<typeAliases>-->
        <!--<package name="top.finen.spring.springboot_mybatis.entity"/>-->
    <!--</typeAliases>-->


    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 显示的指定每个我们需要更改的配置的值，即使他是默认，为了防止版本更新带来的问题 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <mappers>
        <!--xml文件配置方式-->
        <mapper resource="mappers/PersonMapper.xml"/>

        <!--将xml与java类放在同一个mapper目录下的配置方式-->
        <!--<package name="top.finen.spring.springboot_mybatis.mapper"/>-->
    </mappers>


</configuration>