<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javanorth.spring.springboot_mybatis.mapper.PersonMapper">

    <!--Boolean addPerson(Person person);-->
    <insert id="addPerson" parameterType="com.javanorth.spring.springboot_mybatis.entity.Person">
        insert into person(card_number, name, age)
        values (#{cardNumber, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER})
    </insert>

    <!--Person getOnePerson(String idCardNumber);-->
    <select id="getOnePerson" resultType="com.javanorth.spring.springboot_mybatis.entity.Person">
        select *
        from person
        where card_number = #{idCardNumber, jdbcType=VARCHAR}
    </select>
    
    <!--String getPersonName(String idCardNumber);-->
    <select id="getPersonName" resultType="java.lang.String">
        select name
        from person
        where card_number = #{idCardNumber, jdbcType=VARCHAR}
    </select>

    <!--Boolean updatePersonName(String idCardNumber, String name);-->
    <update id="updatePersonName">
        update person
        set name = #{name, jdbcType=VARCHAR}
        where card_number = #{idCardNumber, jdbcType=VARCHAR}
    </update>

    <!--Boolean deletePerson(String idCardNumber);-->
    <delete id="deletePerson">
        delete
        from person
        where card_number = #{idCardNumber, jdbcType=VARCHAR}
    </delete>

</mapper>